.aside {
    &-menu {}

    &__item {}

    &__link {
        display: block;
        color: #58485b;
        padding: .5em 0 .5em .8em;
        line-height: 1.625;
        text-align: left;
        transition: all .5s;
        z-index: 131;

        &:hover {
            color: #0d0d43;
            border-left: 2px solid #3b5998;
            font-weight: 600;
        }
    }
}