.navmenu {
  flex: 50% 0 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navmenu__link {
  font-family: "SegoeWP";
  color: white;
  line-height: 1.625;
  text-align: center;
  transition: all .5s;
  z-index: 130;
}

.navmenu__link:hover {
  color: #323232;
}
