.navmenu {
    flex: 50% 0 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {}

    &__link {
        font-family: "SegoeWP";
        color: rgb(255, 255, 255);
        line-height: 1.625;
        text-align: center;
        transition: all .5s;
        z-index: 130;

        &:hover {
            color: rgb(50, 50, 50);
        }
    }
}