.sender {
    display: flex;
    align-items: center;
    padding: 1em;
    border-top: 1px solid #c7c7c7;
  }
  .react-input-emoji--container{
    margin: 0;
  }
  .sender .react-input-emoji--input {
    width: 100%;
    border: 1px solid #c7c7c7;
    background-color: white;
    padding: .75em 2.25rem .75em 1em;
    transition: border-color 200ms;
    border-radius: 5px;
    outline: none;
    color: black;
  }
  
  .sender .react-input-emoji--input:focus {
    border-color: #7045ff;
  }

  .sender .react-input-emoji--button{
    margin-left: -2.5em;
    z-index: 100;
  }

  .sender label {
    display: block;
    margin: 0 .75em;
    cursor: pointer;
  }

  .sender label input {
    display: none;
  }

  .prog{
    margin: .15em 0;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  .prog-img{
    height: 3em;
    padding: 0 1em;
    margin: .65em 0;
    justify-content: space-between;
  }

  .prog-img img{ 
    display: block;
    height: 100%; 
    width: 3em; 
    margin-right: 1em; 
  }

  .prog-img .progress-bar {
    width: 100%;
    height: 1em;
    margin: 1em 0;
    animation: 2.5s alternate slidein;
  }

  .close span{
    display: block;
    height: 100%;
    font-size: 2em;
    margin: 0 .5em;
  }
  
  @keyframes slidein {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }
  .sender button[type='submit'] {
    height: 100%;
    padding: .5rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  
    border: 1px solid #7045ff;
    background: #7045ff;
    color: white;
  } 