.dialog__header .user-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dialog__header .user-info .status {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
    position: relative;
    text-align: center;
    font-size: 13px;
  }
  
  .dialog__header .user-info .name {
    text-align: center;
  }
  
  .dialog__header .user-info .status .circle {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #7045ff;
    margin-right: 5px;
  }