.new-post {
  background: #fff;
  border: 2px solid #dfe0e4;
  padding: 1em;
}

#new-post__image {
  width: 2.5em;
  height: 2.5em;
  margin: 0 1em 0 0;
  border-radius: 50%;
}

.new-post__block {
  padding: .75em 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-post__multimedia, .new-post__action {
  text-align: center;
  border-radius: 10px;
  font-size: 1.1em;
  cursor: pointer;
  transition: all .5s;
}

.new-post__multimedia:hover, .new-post__action:hover {
  background: #dfe0e4;
}

.new-post__img-data {
  display: flex;
  align-items: center;
  width: 20%;
  text-align: center;
}

.new-post__check {
  height: 1em;
  width: auto;
  margin: 0 10px;
}

.new-post input[type="file"] {
  display: none;
}

.new-post label {
  cursor: pointer;
}
