.post {
    background: #fff;
    border: 2px solid #dfe0e4;
    padding: 1em;

    &__title {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        width: 2.5em;
        height: 2.5em;
        img {    
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__data {
        padding: 0 20px;
    }

    &__name{
        display: block;
        color: #333;
        font-weight: 800;
        text-decoration: none;
    }

    &__date{
        color: #333;
        font-size: .95em;
        line-height: 1.2;
    }

    &__text {
        color: #333;
        font-size: .85em;
        padding: .85em 0;
    }

    &__image {
        display: block;
        height: auto;
        margin: .75em 0;
    }

    &__menu {
        display: flex;
        justify-content: space-around;

        button {
            padding: .75em 0;
            width: 20%;
            text-align: center;
            border-radius: 10px;
            font-size: 1em;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background: #dfe0e4;
            }
        }
    }
}

.button-active {
    background: #a2a5aa;
}
a{
    color: #333;
    text-decoration: none;
}