.login{
    flex-grow: 1;
    &__wrapper{
        display: flex;
        height: calc((100vh - 60px) / 1.25);
        flex-direction: column;
        justify-content: center;
    }
    // &__body{
    //     width: 40%;
    //     margin: 0 auto;
    // }
    &__text{
        overflow: hidden;
        text-align: center;
        font-size: 1em;
        
        span {
            display: inline-block;
            vertical-align: middle;
        }
        &:before,
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 2px;
            background-color: #333;
            position: relative;
        }
        &:before {
            margin-left: -100%;
            left: -14px;
        }
        &:after {
            margin-right: -100%;
            right: -14px;
        }
    }
    input {
        width: 100%;
        font-size: 1em;
        padding: .15em .45em;
        margin: 0 0 .5em 0;
        border: 2px solid rgb(71, 69, 69);
        border-radius: 10px;
        transition: all .75s ease;
        &:focus{
            border: 5px solid rgb(79, 50, 184);
        }
    }
    .incorrect{
        background-color: red;
        border-color: red;
        color: #fff;
    }
    .incorrect::-webkit-input-placeholder{
        color: #fff;
    }
    .login__error{
        font-weight: 600;
    }

    .btn-img{
        width: 5em;
        margin: 1em auto;
        background: #fff;
        border: 5px solid rgb(138, 132, 132);
        &:hover{
            background: rgb(226, 226, 226);
            border: 5px solid rgb(63, 60, 60);
        }
    }
    .registry-btn{
        display: block;
        width: 8em;
        margin: 0 auto;
    }
}
.m-auto{
    margin: 0 auto;
}
.m-right{
  margin-right: auto;
}
.text-left{
    text-align: left;
}