.login {
  flex-grow: 1;
}

.login__wrapper {
  display: flex;
  height: calc((100vh - 60px) / 1.25);
  flex-direction: column;
  justify-content: center;
}

.login__text {
  overflow: hidden;
  text-align: center;
  font-size: 1em;
}

.login__text span {
  display: inline-block;
  vertical-align: middle;
}

.login__text:before, .login__text:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: relative;
}

.login__text:before {
  margin-left: -100%;
  left: -14px;
}

.login__text:after {
  margin-right: -100%;
  right: -14px;
}

.login input {
  width: 100%;
  font-size: 1em;
  padding: .15em .45em;
  margin: 0 0 .5em 0;
  border: 2px solid #474545;
  border-radius: 10px;
  transition: all .75s ease;
}

.login input:focus {
  border: 5px solid #4f32b8;
}

.login .incorrect {
  background-color: red;
  border-color: red;
  color: #fff;
}

.login .incorrect::-webkit-input-placeholder {
  color: #fff;
}

.login .login__error {
  font-weight: 600;
}

.login .btn-img {
  width: 4.5em;
  height: 4.5em;
  margin: 1em auto;
  background: #fff;
  transition: all .75s ease;
}

.login .btn-img:hover {
  transform: scale(1.2);
}

.login .registry-btn {
  display: block;
  width: 8em;
  margin: 0 auto;
}

.capcha {
  width: 305px;
}

.capcha-error {
  width: 20em;
}

.m-center {
  margin: 0 auto;
}

.m-right {
  margin-right: auto;
}

.text-left {
  text-align: left;
}

@media (max-width: 576px) {
  .capcha {
    position: relative;
    left: -0.5em;
  }
}
